/* color pallete : https://coolors.co/eaeaea-cbc5ea-82816d-313d5a-260f26 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}



body {
  height: 100vh;
  width: 100vw;  
  overflow-x: hidden;
}

section {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); 
  background-size: cover;
  min-height: 100vh;
  overflow-y: scroll;
}

.wiki-icon {
  position: absolute;
  opacity: .03;
  z-index: 1;
  height: 100%;
  width: 70%;
  left: 15%;
}

section h1 {
  color: #ecf0f1;
  font-size: 4em;
  z-index: 2;
  text-align: center;
  margin-top: 1em;
  font-family: 'Poiret One', cursive;
}

.container-search-and-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 15em;
  
}

a {
  text-decoration: none;
}

.SearchContainer {
  z-index: 2;
}

.CustomSearch {
  border-bottom: 2px solid #e74c3c;
  z-index: 2;
  margin: 1em 0;
}

.CustomSearch .search-icon {
  margin-right: .3em;
  margin-top: .5em;
  color: #e74c3c;
  z-index: 2;
  font-size: 2em;
}

.CustomSearch .search-input-box {
  border: none;
  background: none;
  padding: .2em;
  width: 20em;
  transition: all .3s;
  z-index: 2;
}

.search-input-box {
  color: #ecf0f1;
}

.search-input-box:focus {
  outline: none;
  width: 40em;
}

.btn {
  width: 10em;
  height: 3em;
  z-index: 2;
  background: none;
  border: none;
  border: 1px solid #ecf0f1;
  transition: all .3s;
  cursor: pointer;
  border-radius: .2em;
  color: #ecf0f1;
  margin: .5em 0;
}

.btn:hover {
  border: none;
  background: #e74c3c;
  box-shadow: 1px 1px 10px black;
  font-weight: bold;
}

.search-result-container {
  width: 90%;
  max-height: auto;
  z-index: 2;
  max-height: 30em;
  overflow-y: auto;
}

.search-result-box {
  width: 90%;
  border-radius: .5em;
  background: #ecf0f1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1em;
  box-shadow: 1px 1px 10px black;
  position: relative;
  border-bottom-right-radius: 0em;
  border-top-left-radius: 0em;
  margin: .5em auto;
  z-index: 5;
  cursor: pointer;
}

.search-result-box p {
  margin: .5em 0;
}

.search-result-title {
  font-weight: bold;
  font-size: 1.4em;
  font-style: italic;
  color: #e74c3c;
}

.search-result-desc {
  line-height: 1.3em;
  letter-spacing: .05em;
  color: #2e2e2e;
}

